<!doctype>
<html>
	<head>
		<title>Matt McElwee | Resume</title>
		<link rel="stylesheet" href="/static/resume.css">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<script src="https://use.fontawesome.com/0e9b7b8b7f.js"></script>
	</head>
	<body>
		<section class="resume-wrapper">
		  <div class="mid">
		    <div class="mm-row">
		      <h2>Matt McElwee</h2>
		      <div class="contact">
						<a href="tel:+14028850620">402.885.0620</a> |
			      <a href="mailto:mubatt@wyopub.com">mubatt@wyopub.com</a>
		      </div>
		    </div>
		    <hr>
			<div class="mm-row">
			  <div class="mm-col mm-col-33 resume-section-header">
			  	Summary
			  </div>
			  <div class="mm-col mm-col-66 resume-section-description">
				{{ resume['summary'] }}
			  </div>
			</div>
		    <hr>
		    <div class="mm-row">
		      <div class="mm-col mm-col-33 resume-section-header">
		        Employment
		      </div>
		      <div class="mm-col mm-col-66 resume-section-description">
						{% for employment in resume['employment'] %}
		        <div class="mm-row info-name-date">
		          <div class="mm-col mm-col-66">
		            <span class="org-name">{{ employment['name'] }}</span>
		          </div>
		          <div class="mm-col mm-col-33">
		            <span class="org-date">{{ employment['dates'] }}</span>
		          </div>
		          <div class="mm-row title-wrapper">
								{% for title in employment['titles'] %}
		            <div class="mm-col">
		              <span class="org-title">{{ title }}</span>
		            </div>
								{% endfor %}
		          </div>
		          <div class="mm-row job-responsibilities">
		            <ul>
									{% for responsibility in employment['responsibilities'] %}
		              <li>{{ responsibility }}</li>
									{% endfor %}
		            </ul>
		          </div>
		        </div>
						{% if employment['not_last'] %}
						<div class="description-break">
		          <hr>
		        </div>
						{% endif %}
						{% endfor %}
		      </div>
		    </div>
				<hr>
				<div class="mm-row">
		      <div class="mm-col mm-col-33 resume-section-header">
		        Skills
		      </div>
		      <div class="mm-col mm-col-66 resume-section-description">
						<div class="mm-row">
							<div class="mm-col mm-col-33">
								{% for skill in resume['skills']['languages'] %}
								<div>{{ skill }}</div>
								{% endfor %}
							</div>
							<div class="mm-col mm-col-33">
								{% for skill in resume['skills']['technical_skills'] %}
								<div>{{ skill }}</div>
								{% endfor %}
							</div>
							<div class="mm-col mm-col-33">
								{% for skill in resume['skills']['soft_skills'] %}
								<div>{{ skill }}</div>
								{% endfor %}
							</div>
						</div>
		      </div>
		    </div>
				<hr>
				<div class="mm-row">
		      <div class="mm-col mm-col-33 resume-section-header">
		        Education
		      </div>
		      <div class="mm-col mm-col-66 resume-section-description">
						{% for education in resume['education'] %}
		        <div class="mm-row info-name-date">
		          <div class="mm-col mm-col-66">
		            <span class="org-name">{{ education['school_name'] }}</span>
		          </div>
		          <div class="mm-col mm-col-33">
		            <span class="org-date">{{ education['dates'] }}</span>
		          </div>
		        </div>
		        <p>{{ education['description'] }}</p>
						{% if education['not_last'] %}
		        <div class="description-break">
		          <hr>
		        </div>
						{% endif %}
						{% endfor %}
		      </div>
		    </div>
			</div>
		</section>
		<hr>
		<footer>
		  <a href="https://twitter.com/renddslow" target="_blank">
		    <i class="fa fa-twitter"></i><span>https://twitter.com/renddslow</span>
		  </a>
		  <a href="https://linkedin.com/in/renddslow" target="_blank">
		    <i class="fa fa-linkedin"></i><span>https://linkedin.com/in/renddslow</span>
		  </a>
		  <a href="https://github.com/renddslow" target="_blank">
		    <i class="fa fa-github"></i><span>https://github.com/renddslow</span>
		  </a>
		</footer>
	</body>
</html>
